API="127.0.0.1:5700"
token=
prefix="!"
master=919815238
bot=2839098896
allowFriends=true
allowGroups=true
WelcomeMsg="感谢您添加 kjBot 为好友，发送 !help 查看帮助列表。用户协议：https://github.com/kjBot-Dev/TOS/blob/master/README.md"
;DEBUG=true
DebugListen=919815238
;Listen=
recordStat=true
;这里往下是模块定义的 config，以后可能会改为使用 data
Github_Integration_ID=
Github_Installation_ID=
Pixiv_Session=
osu_cookie=
osu_api_key=
